{
  "presets": [
    [
      "env", {
      "spec": true,
      "targets": {
        "safari": 9,
        "browserslist": ["safari >= 9", "iOS >= 9"],
        "browsers": ["safari >= 9", "iOS >= 9"]
      }
    }],
    "stage-2",
    "es2015"
  ],
  "plugins": ["transform-runtime", "transform-object-rest-spread", "transform-es2015-destructuring", "transform-es2015-parameters", "lodash"],
  "comments": false
}
